SAP_USERNAME=""
SAP_PASSWORD=""
#EJEMPLO POSTGRESQL:"postgres://usuario:contraseña@localhost:5432/nombre_base_de_datos"
DATABASE_URL=""
#SAP_URL=""
#SAP_PORT=""
SAP_URL=""
SAP_PORT=""
SAP_AMBIENTE=""
SAP_MAX_WORKERS_DEFAULT=4
SAP_MAX_WORKERS_HEAVY=8
DB_BATCH_SIZE_LARGE=2000
DB_BATCH_SIZE_MEDIUM=1000
ODATA_CHUNK_SIZE=50